<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <style rel="stylesheet" href="~/css/style.css"></style>
    <title>Document</title>
</head>
<body>

    @if(IsSectionDefined("MessageBox"))
    {
        @RenderSection("MessageBox")
    }
    else {
        <div class="alert alert-primary text-center m-0">Welcome!</div>
    }

    @await Html.PartialAsync("_navbar")

    @if(IsSectionDefined("Header")) {
        @RenderSection("Header")
    } else {
        <div class="mb-3"></div>
    }


    <main class="mb-3">
        <div class="container">
            @if(IsSectionDefined("Categories")) {
                <div class="row">
                    <div class="col-md-3">
                        @RenderSection("Categories", false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            } else {
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Shop App | 2024
    </footer>
    
    @RenderSection("Scripts", false)

</body>
</html>