@model IEnumerable<User>

@section Css {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.bootstrap4.css">
}

@section Scripts {
    <script src="//cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.bootstrap4.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
}

<div class="row mt-3">
    <div class="col-md-12">
        <h1 class="h3">User List</h1>
        <hr>
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Email Confirmed</td>
                    <td style="width: 160px;"></td>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count() > 0) {
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td class="text-center">
                                @if(item.EmailConfirmed) {
                                    <i class="fas fa-check-circle" style="color: green;"></i>
                                }
                                else {
                                    <i class="fas fa-times-circle" style="color: #dd1717;"></i>
                                }
                            </td>
                            <td>
                                <a href="/admin/user/@item.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                                <form asp-controller="Admin" asp-action="UserDelete" method="POST" style="display: inline;">
                                    <input type="hidden" name="userId" value="@item.Id">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                } else {
                    <div class="alert alert-warning">
                        <h3>No Users</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>