@model OrderModel

<h1 class="h2 mt-3">Checkout</h1>
<hr>
<div class="row mt-3">
    <div class="col-md-8">
        <h4 class="mb-3">Order Details</h4>
        <form method="POST" asp-controller="Cart" asp-action="Checkout">
            <input type="hidden" name="cartId" value="0">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="FirstName"></label>
                    <div>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName"></label>
                    <div>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Email"></label>
                    <div>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Phone"></label>
                    <div>
                        <input asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Note"></label>
                <div>
                    <textarea asp-for="Note" class="form-control"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
            <h4 class="mb-3">Shipping Address</h4>
            <hr class="mb-3">
            <div class="mb-3">
                <label asp-for="@Model.ShipModel.Address"></label>
                <div>
                    <textarea asp-for="@Model.ShipModel.Address" class="form-control"></textarea>
                    <span asp-validation-for="@Model.ShipModel.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="@Model.ShipModel.City"></label>
                    <div>
                        <input asp-for="@Model.ShipModel.City" class="form-control">
                        <span asp-validation-for="@Model.ShipModel.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.ShipModel.Country"></label>
                    <div>
                        <input asp-for="@Model.ShipModel.Country" class="form-control">
                        <span asp-validation-for="@Model.ShipModel.Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.ShipModel.ZipCode"></label>
                    <div>
                        <input asp-for="@Model.ShipModel.ZipCode" class="form-control">
                        <span asp-validation-for="@Model.ShipModel.ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Billing Address</h4>
            <hr class="mb-3">
            <div class="mb-3">
                <label asp-for="@Model.BillModel.Address"></label>
                <div>
                    <textarea asp-for="@Model.BillModel.Address" class="form-control"></textarea>
                    <span asp-validation-for="@Model.BillModel.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="@Model.BillModel.City"></label>
                    <div>
                        <input asp-for="@Model.BillModel.City" class="form-control">
                        <span asp-validation-for="@Model.BillModel.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.BillModel.Country"></label>
                    <div>
                        <input asp-for="@Model.BillModel.Country" class="form-control">
                        <span asp-validation-for="@Model.BillModel.Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.BillModel.ZipCode"></label>
                    <div>
                        <input asp-for="@Model.BillModel.ZipCode" class="form-control">
                        <span asp-validation-for="@Model.BillModel.ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Payment Details</h4>
            <hr class="mb-3">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="@Model.CardModel.CardName"></label>
                    <div>
                        <input asp-for="@Model.CardModel.CardName" class="form-control">
                        <span asp-validation-for="@Model.CardModel.CardName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.CardModel.CardNumber"></label>
                    <div>
                        <input asp-for="@Model.CardModel.CardNumber" class="form-control">
                        <span asp-validation-for="@Model.CardModel.CardNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="@Model.CardModel.ExpirationMonth"></label>
                    <div>
                        <input asp-for="@Model.CardModel.ExpirationMonth" class="form-control">
                        <span asp-validation-for="@Model.CardModel.ExpirationMonth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.CardModel.ExpirationYear"></label>
                    <div>
                        <input asp-for="@Model.CardModel.ExpirationYear" class="form-control">
                        <span asp-validation-for="@Model.CardModel.ExpirationYear" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.CardModel.Cvc"></label>
                    <div>
                        <input asp-for="@Model.CardModel.Cvc" class="form-control">
                        <span asp-validation-for="@Model.CardModel.Cvc" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Cart Summary</span>
        </h4>
        <ul class="list-group mb-3">
            @foreach (var item in Model.CartModel.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">@item.Name:</h6>
                    </div>
                    <span class="text-muted">@item.Price.ToString("c")</span>
                </li>
            }

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="mb-0">Total: </h6>
                </div>
                <strong>@Model.CartModel.TotalPrice().ToString("c")</strong>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"/></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"/></script>
}